body {
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background: url(../img/backColor.png);
    background-size: cover;
}

img {
    margin: 0 auto;
}
.test1 {
    width: 100vw;
}
.test3 {
    height: 25vh;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/logo.png) no-repeat; 
    background-position: center;
    background-size: contain;
}

.test2 {
    height: 75vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    background: url(../img/mainBack.png) no-repeat;
    background-position: center top;
    background-size: contain;
}

.test4 {
    position: relative;
}

.topimg {
    width: 24vh;
    position:  relative; top: -3vw;
}
.arasuziimg {
    width: 24vh;
    position: relative; top:  -3vw;
}
.raizyouimg {
    width: 24vh;
    position: relative; top: -3vw;
}
.yoyakuimg {
    width: 24vh;
    position: relative; top: -3vw;
}
.staffimg {
    width: 24vh;
    position: relative; top: -3vw;
}

p {
    margin: 0;
}
/*.bbg {
    background: url(../img/mainBack.png) no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 200px;
}
.ll{
    text-align: center;
    margin: auto auto;
}*/
