body {
    margin: 0;
    background: url(../img/backColor.png);
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
}

img {
    margin: 0 auto;
}
.test1 {
    width: 100vw;
}
.test3 {
    width: 45vw;
    height: 10vh;
    min-height: 150px;  /*変更点*/
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/logo.png) no-repeat;
    background-position: center center;
    background-size: contain;
}

.test2 {
    width: 70vw;
    height: 73vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background: url(../img/mainBack.png) no-repeat;
    background-position:25% 1%;
    background-size:100% 100%;
}

.test4 {
    position: relative;
}

.topimg {
    width: 12vw;
    position:  relative; top: -3vw;
}
.arasuziimg {
    width: 12vw;
    position: relative; top:  -3vw;
}
.raizyouimg {
    width: 12vw;
    position: relative; top: -3vw;
}
.yoyakuimg {
    width: 12vw;
    position: relative; top: -3vw;
}
.staffimg {
    width: 12vw;
    position: relative;
    top: -3vw;
}

.test51 {
    width: 25vw;
    height: 50vh;
    float: left;
    margin-left: 5vw;
}
.hyouimg {
    width: 20vw;
}
.test52 {
    width: 35vw;
    height: 50vh;
    float: right;
    margin-right: 5vw;
}
.test521 {
  text-align: left ;
  font-family: "MS PGothic", Arial, sans-serif;
  font-size: 2vw;
  font-weight: bold;
}

/*


.p {
    width: 50px;
    height: 10vh;
    position: relative;
    top: 0vw;
    right: 70vh;
}

.bbg {
    background: url(../img/mainBack.png) no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 200px;
}
.ll{
    text-align: center;
    margin: auto auto;
}*/
