body {
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background: url(../img/backColor.png);
    background-size: cover;
}

img {
    margin: 0 auto;
}
.test1 {
    width: 80vw;
}
.test3 {
    width: 45vw;
    height: 250px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/logo.png) no-repeat; 
    background-position: center center;
    background-size: contain;
}

.test2 {
    width: 70vw;
    height: 73vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 10px;
    background: url(../img/mainBack.png) no-repeat;
    background-position:bottom 10%;
    background-size: contain;
}

.test4 {
    position: relative;
}

.topimg {
    width: 12vw;
    height: 10vh;
    margin-left: 3vw;
    position:  relative; top: -3vw;
}
.arasuziimg {
    width: 12vw;
    height: 10vh;
    position: relative; top:  -3vw;
}
.raizyouimg {
    width: 12vw;
    height: 10vh;
    position: relative; top: -3vw;
}
.yoyakuimg {
    width: 12vw;
    height: 10vh;
    position: relative; top: -3vw;
}
.staffimg {
    width: 12vw;
    height: 10vh;
    position: relative; top: -3vw;
}

p {
    margin: 0;
}
/*.bbg {
    background: url(../img/mainBack.png) no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 200px;
}
.ll{
    text-align: center;
    margin: auto auto;
}*/
