body {
    margin: 0;
    background: url(../img/back_sp.png);
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
}


.test1 {
    width: auto;
    height: 10vh;
}


.hyouimg {
  width: 100%;
}

/*.test2 {
    height: 73vh;
    width: 70vw;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    background: url(./img/flyer.png) no-repeat;
    background-position:25% 1%;
    background-size:100% 100%;
}

img {
    margin: 0 auto;
}
/*


.p {
    width: 50px;
    height: 10vh;
    position: relative;
    top: 0vw;
    right: 70vh;
}

.bbg {
    background: url(../img/mainBack.png) no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 200px;
}
.ll{
    text-align: center;
    margin: auto auto;
}*/
