body {
    margin: 0;
    background: url(../img/backColor.png);
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
}

img {
    margin: 0 auto;
}
.test1 {
    width: 100vw;
}
.test3 {
    width: 45vw;
    height: 10vh;
    min-height: 150px;  /*変更点*/
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/logo.png) no-repeat;
    background-position: center center;
    background-size: contain;
}

.test2 {
    width: 70vw;
    height: 73vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 10px;

    background: url(../img/mainBack.png) no-repeat;
    background-position:25% 1%;
    background-size:100% 100%;
}
.test21 {
  text-align: center;
}

.test4 {
    position: relative;
}

.topimg {
    width: 12vw;
    position:  relative; top: -3vw;
}
.arasuziimg {
    width: 12vw;
    position: relative; top:  -3vw;
}
.raizyouimg {
    width: 12vw;
    position: relative; top: -3vw;
}
.yoyakuimg {
    width: 12vw;
    position: relative; top: -3vw;
}
.staffimg {
    width: 12vw;
    position: relative;
    top: -3vw;
}
.test5 {
    width: 70vw;
    height: 50vh;
}
.tes51 {
  width: 70vw;
  height: 25vh;
}
.test511 {
  margin-left: 5vw;
  text-align: left;
  font-size: 1vw;
  font-family: "MS PGothic", Arial, sans-serif;
  font-weight: bold;
}
.test52 {
  width: 30vw;
  height: 30vh;
  float: left;
  margin-top: 5vh;
  margin-left: 5vw;
}
.test53 {
  width: 30vw;
  height: 25vh;
  float: right;
  margin-top: 5vh;
  margin-right: 5vw;
}

.test531 {
  font-size: 1.5vw;
  font-family: "MS PGothic", Arial, sans-serif;
}
/*


.p {
    width: 50px;
    height: 10vh;
    position: relative;
    top: 0vw;
    right: 70vh;
}

.bbg {
    background: url(../img/mainBack.png) no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 200px;
}
.ll{
    text-align: center;
    margin: auto auto;
}*/
